{% extends 'base.html.twig' %}

{% block title %}Your Seasons{% endblock %}

{% block body %}
  <div class="seasons">
    <ul>
      {% for season in seasons %}
        <li>{{ season.name }}</li>
      {% endfor %}
    </ul>
  </div>
{% endblock %}
