{% extends 'base.html.twig' %}

{% block title %}Seasons{% endblock %}

{% block body %}
  <div class="seasons">
    <ul>
      {% for season in seasons %}
        <li><a href="/seasons/{{ season.id }}">{{ season.name }} : {{ season.location }}</a></li>
      {% endfor %}
    </ul>
  </div>
{% endblock %}
