{% extends 'layout/sidebar/_layout.html.twig' %}

{% block title %}Home{% endblock %}

{% block page_title %}{{ season.name }}{% endblock %}

{% block content %}
  <div class="py-4">
    {{ season.name }}
  </div>
{% endblock %}
