{% extends 'base.html.twig' %}

{% block title %}League{% endblock %}

{% block body %}
  <div>
    {{ league.name }}
    <ul>
      {% for season in league.seasons %}
        <li>{{ season.name }}</li>
      {% endfor %}
    </ul>
    <ul>
      {% for player in league.players %}
        <li>{{ player.name }}</li>
      {% endfor %}
    </ul>
  </div>
{% endblock %}
