{% extends 'base.html.twig' %}

{% block title %}Spielplan{% endblock %}

{% block body %}
<div>
    <h4 class="text-center">blub</h4>
    <a href="{{ path('leagues') }}">Leagues</a>
</div>
{% endblock %}
