{% extends 'layout/sidebar/_layout.html.twig' %}

{% block title %}Home{% endblock %}

{% block page_title %}Dashboard{% endblock %}

{% block content %}
  <div class="py-4">
    <div class="border-4 border-dashed border-gray-200 rounded-lg h-96">blub</div>
  </div>
{% endblock %}

